validacion/src/main/resources/xsd/20151229_0905/factura_1.1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified">
	<xsd:simpleType name="ambiente">
		<xsd:annotation>
			<xsd:documentation>Desarrollo o produccion depende de en cual ambiente se genere el comprobante.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-2]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirMatriz">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombreComercial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="infoTributaria">
		<xsd:annotation>
			<xsd:documentation>Contiene la informacion tributaria generica</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ambiente" type="ambiente"/>
			<xsd:element name="tipoEmision" type="tipoEmision"/>
			<xsd:element name="razonSocial" type="razonSocial"/>
			<xsd:element name="nombreComercial" type="nombreComercial" minOccurs="0"/>
			<xsd:element name="ruc" type="numeroRuc"/>
			<xsd:element name="claveAcceso" type="claveAcceso" minOccurs="0"/>
			<xsd:element name="codDoc" type="codDoc"/>
			<xsd:element name="estab" type="establecimiento"/>
			<xsd:element name="ptoEmi" type="puntoEmision"/>
			<xsd:element name="secuencial" type="secuencial"/>
			<xsd:element name="dirMatriz" type="dirMatriz"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="numeroRuc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC del Contribuyente</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="idCliente">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC Cedula o Pasaporte del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9a-zA-Z]{0,13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroRucCedula">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero de RUC o cedula del Comprador</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="[0-9]{10}"/>
			<xsd:pattern value="[0-9]{10}001"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaType">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de uso del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaAutorizacion">
		<xsd:annotation>
			<xsd:documentation>Se detalla la fecha de la autorizacion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="establecimiento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del establecimiento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puntoEmision">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del punto de emision</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencial">
		<xsd:annotation>
			<xsd:documentation>Se detalla el secuencial del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="documento">
		<xsd:annotation>
			<xsd:documentation>Se detalla el numero del documento</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{1,9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDoc">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codTipoDocModificado">
		<xsd:annotation>
			<xsd:documentation>Se detalla el codigo del tipo de documento autorizado</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="claveAcceso">
		<xsd:annotation>
			<xsd:documentation>Se guarda la informacion para la clave de acceso</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="autorizacion">
		<xsd:annotation>
			<xsd:documentation>Corresponde al numero de autorizacion emitido por el sistema de Autorizacion de Comprobantes de Venta y Retencion</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="3"/>
			<xsd:pattern value="[0-9]{3,10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="dirEstablecimiento">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoEmision">
		<xsd:annotation>
			<xsd:documentation>Tipo de emision en el cual se genero el comprobante</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[12]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="contribuyenteEspecial">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="3"/>
			<xsd:maxLength value="13"/>
			<xsd:pattern value="([A-Za-z0-9])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="obligadoContabilidad">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="NO"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][4-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="guiaRemision">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="razonSocialComprador">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalSinImpuestos">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigo">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDoc">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalDescuentos">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descuentoAdicional">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentaje">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponible">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifa">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="4"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valor">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorDevolucionIva">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="propina">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="importeTotal">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="moneda">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="15"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPrincipal">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoAuxiliar">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="25"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descripcion">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="cantidad">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="6"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precioUnitario">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="18"/>
			<xsd:fractionDigits value="6"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="descuento">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="precioTotalSinImpuesto">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="nombre">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="campoAdicional">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoRetencion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[4]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentajeRetencion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifaRetencion">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="5"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorRetencion">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:totalDigits value="14"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="comercioExterior">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="EXPORTADOR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="incoTermFactura">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
			<xsd:pattern value="([A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="lugarIncoTerm">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paisOrigen">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paisDestino">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puertoEmbarque">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="puertoDestino">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="paisAdquisicion">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="direccionComprador">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="300"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="incoTermTotalSinImpuestos">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
			<xsd:pattern value="([A-Z])*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fleteInternacional">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="seguroInternacional">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="gastosAduaneros">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="gastosTransporteOtros">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="formaPago">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][1-9]"/>
			<xsd:pattern value="[1][0-5]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="total">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="plazo">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="unidadTiempo">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="unidadMedida">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="pagos">
		<xsd:sequence>
			<xsd:element name="pago" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="formaPago" type="formaPago"/>
						<xsd:element name="total" type="total"/>
						<xsd:element name="plazo" type="plazo" minOccurs="0"/>
						<xsd:element name="unidadTiempo" type="unidadTiempo" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="impuesto">
		<xsd:annotation>
			<xsd:documentation>Contiene la informacion de los impuestos</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigo" type="codigo"/>
			<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"/>
			<xsd:element name="tarifa" type="tarifa"/>
			<xsd:element name="baseImponible" type="baseImponible"/>
			<xsd:element name="valor" type="valor"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="codigoDocumentoReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="41"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalComprobantesReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalBaseImponibleReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalImpuestoReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorRetIva">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="valorRetRenta">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoIdentificacionProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][4-9]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="identificacionProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
			<xsd:pattern value="[^\n]*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codPaisPagoProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tipoProveedorReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0][12]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="07"/>
			<xsd:enumeration value="41"/>
			<xsd:enumeration value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="estabDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ptoEmiDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="secuencialDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="fechaEmisionDocReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeroautorizacionDocReemb">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="49"/>
			<xsd:minLength value="10"/>
			<xsd:pattern value="[0-9]{10,49}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[235]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="codigoPorcentajeReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tarifaReembolso">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1,4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="baseImponibleReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="impuestoReembolso">
		<xsd:restriction base="xsd:decimal">
			<xsd:totalDigits value="14"/>
			<xsd:fractionDigits value="2"/>
			<xsd:minInclusive value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="detalleImpuestos">
		<xsd:sequence>
			<xsd:element name="detalleImpuesto" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="codigo" type="codigoReembolso"/>
						<xsd:element name="codigoPorcentaje" type="codigoPorcentajeReembolso"/>
						<xsd:element name="tarifa" type="tarifaReembolso"/>
						<xsd:element name="baseImponibleReembolso" type="baseImponibleReembolso"/>
						<xsd:element name="impuestoReembolso" type="impuestoReembolso"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="reembolsos">
		<xsd:sequence>
			<xsd:element name="reembolsoDetalle" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tipoIdentificacionProveedorReembolso" type="tipoIdentificacionProveedorReembolso"/>
						<xsd:element name="identificacionProveedorReembolso" type="identificacionProveedorReembolso"/>
						<xsd:element name="codPaisPagoProveedorReembolso" type="codPaisPagoProveedorReembolso" minOccurs="0"/>
						<xsd:element name="tipoProveedorReembolso" type="tipoProveedorReembolso"/>
						<xsd:element name="codDocReembolso" type="codDocReembolso"/>
						<xsd:element name="estabDocReembolso" type="estabDocReembolso"/>
						<xsd:element name="ptoEmiDocReembolso" type="ptoEmiDocReembolso"/>
						<xsd:element name="secuencialDocReembolso" type="secuencialDocReembolso"/>
						<xsd:element name="fechaEmisionDocReembolso" type="fechaEmisionDocReembolso"/>
						<xsd:element name="numeroautorizacionDocReemb" type="numeroautorizacionDocReemb"/>
						<xsd:element name="detalleImpuestos" type="detalleImpuestos"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="factura">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="infoTributaria" type="infoTributaria"/>
				<xsd:element name="infoFactura">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="fechaEmision" type="fechaEmision"/>
							<xsd:element name="dirEstablecimiento" type="dirEstablecimiento" minOccurs="0"/>
							<xsd:element name="contribuyenteEspecial" type="contribuyenteEspecial" minOccurs="0"/>
							<xsd:element name="obligadoContabilidad" type="obligadoContabilidad" minOccurs="0"/>
							<xsd:element name="comercioExterior" type="comercioExterior" minOccurs="0"/>
							<xsd:element name="incoTermFactura" type="incoTermFactura" minOccurs="0"/>
							<xsd:element name="lugarIncoTerm" type="lugarIncoTerm" minOccurs="0"/>
							<xsd:element name="paisOrigen" type="paisOrigen" minOccurs="0"/>
							<xsd:element name="puertoEmbarque" type="puertoEmbarque" minOccurs="0"/>
							<xsd:element name="puertoDestino" type="puertoDestino" minOccurs="0"/>
							<xsd:element name="paisDestino" type="paisDestino" minOccurs="0"/>
							<xsd:element name="paisAdquisicion" type="paisAdquisicion" minOccurs="0"/>
							<xsd:element name="tipoIdentificacionComprador" type="tipoIdentificacionComprador"/>
							<xsd:element name="guiaRemision" type="guiaRemision" minOccurs="0"/>
							<xsd:element name="razonSocialComprador" type="razonSocialComprador"/>
							<xsd:element name="identificacionComprador" type="identificacionComprador"/>
							<xsd:element name="direccionComprador" type="direccionComprador" minOccurs="0"/>
							<xsd:element name="totalSinImpuestos" type="totalSinImpuestos"/>
							<xsd:element name="incoTermTotalSinImpuestos" type="incoTermTotalSinImpuestos" minOccurs="0"/>
							<xsd:element name="totalDescuento" type="totalDescuentos"/>
							<xsd:element name="codDocReembolso" type="codigoDocumentoReembolso" minOccurs="0"/>
							<xsd:element name="totalComprobantesReembolso" type="totalComprobantesReembolso" minOccurs="0"/>
							<xsd:element name="totalBaseImponibleReembolso" type="totalBaseImponibleReembolso" minOccurs="0"/>
							<xsd:element name="totalImpuestoReembolso" type="totalImpuestoReembolso" minOccurs="0"/>
							<xsd:element name="totalConImpuestos">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="totalImpuesto" maxOccurs="unbounded">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="codigo" type="codigo"/>
													<xsd:element name="codigoPorcentaje" type="codigoPorcentaje"/>
													<xsd:element name="descuentoAdicional" type="descuentoAdicional" minOccurs="0"/>
													<xsd:element name="baseImponible" type="baseImponible"/>
													<xsd:element name="tarifa" type="tarifa" minOccurs="0"/>
													<xsd:element name="valor" type="valor"/>
													<xsd:element name="valorDevolucionIva" type="valorDevolucionIva" minOccurs="0"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="propina" type="propina"/>
							<xsd:element name="fleteInternacional" type="fleteInternacional" minOccurs="0"/>
							<xsd:element name="seguroInternacional" type="seguroInternacional" minOccurs="0"/>
							<xsd:element name="gastosAduaneros" type="gastosAduaneros" minOccurs="0"/>
							<xsd:element name="gastosTransporteOtros" type="gastosTransporteOtros" minOccurs="0"/>
							<xsd:element name="importeTotal" type="importeTotal"/>
							<xsd:element name="moneda" type="moneda" minOccurs="0"/>
							<xsd:element name="pagos" type="pagos" minOccurs="0"/>
							<xsd:element name="valorRetIva" type="valorRetIva" minOccurs="0"/>
							<xsd:element name="valorRetRenta" type="valorRetRenta" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="detalles">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="detalle" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="codigoPrincipal" type="codigoPrincipal" minOccurs="0"/>
										<xsd:element name="codigoAuxiliar" type="codigoAuxiliar" minOccurs="0"/>
										<xsd:element name="descripcion" type="descripcion"/>
										<xsd:element name="unidadMedida" type="unidadMedida" minOccurs="0"/>
										<xsd:element name="cantidad" type="cantidad"/>
										<xsd:element name="precioUnitario" type="precioUnitario"/>
										<xsd:element name="descuento" type="descuento"/>
										<xsd:element name="precioTotalSinImpuesto" type="precioTotalSinImpuesto"/>
										<xsd:element name="detallesAdicionales" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="detAdicional" maxOccurs="3">
														<xsd:complexType>
															<xsd:attribute name="nombre">
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:minLength value="1"/>
																		<xsd:maxLength value="300"/>
																		<xsd:pattern value="[^\n]*"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:attribute>
															<xsd:attribute name="valor">
																<xsd:simpleType>
																	<xsd:restriction base="xsd:string">
																		<xsd:minLength value="1"/>
																		<xsd:maxLength value="300"/>
																		<xsd:pattern value="[^\n]*"/>
																	</xsd:restriction>
																</xsd:simpleType>
															</xsd:attribute>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="impuestos">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="impuesto" type="impuesto" maxOccurs="unbounded"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="reembolsos" type="reembolsos" minOccurs="0"/>
				<xsd:element name="retenciones" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="retencion" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="codigo" type="codigoRetencion"/>
										<xsd:element name="codigoPorcentaje" type="codigoPorcentajeRetencion"/>
										<xsd:element name="tarifa" type="tarifaRetencion"/>
										<xsd:element name="valor" type="valorRetencion"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="infoAdicional" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="campoAdicional" maxOccurs="15">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="campoAdicional">
											<xsd:attribute name="nombre" type="nombre"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="comprobante"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="version"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
